<section>
<h1>酷站博客</h1>
<ul>
        <li>
        <a href="http://iphonedevwiki.net/index.php/Main_Page">iphoneDevWiki</a>
        </li>
        <li>
        <a href="https://en.wikipedia.org/wiki/List_of_iOS_devices">IphoneWikipedia</a>
        </li>
        <li>
        <a href="http://nshipster.com/">nshipster(Mattt Thompson)</a>
        </li>
        <li>
        <a href="http://nshipster.cn/">nshipster中文(Mattt Thompson)</a>
        </li>
        <li>
        <a href="http://www.tuicool.com/articles/V7RVb2Q/">Octopress专栏</a>
        </li>
        <li>
        <a href="http://blog.ibireme.com/">郭曜源的技术博客</a>
        </li>
        <li>
        <a href="http://www.cnblogs.com/kenshincui/p/3985090.html">kenshin Cui 的技术博客</a>
        </li>
        <li>
        <a href="https://github.com/ming1016/study/wiki">戴明的技术笔记</a>
        </li>
        <li>
        <a href="https://github.com/yangchao0033/blog/blob/master/ios/2015/10/%E6%A1%86%E6%9E%B6%E5%8F%8Ablog%E6%95%B4%E7%90%86/%E6%A1%86%E6%9E%B6%E5%8F%8Ablog%E6%95%B4%E7%90%86.md">杨超的框架小仓库</a>
        </li>
</ul>
</section>
