<p>
  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} -
<!--添加站长工具--> 
 <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
<script language="javascript" type="text/javascript" src="http://js.users.51.la/18738010.js"></script>
<noscript><a href="http://www.51.la/?18738010" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/18738010.asp" style="border:none" /></a></noscript>
</p>


<!--添加百度推送--> 
<script>

(function(){

    var bp = document.createElement('script');

    bp.src = '//push.zhanzhang.baidu.com/push.js';

    var s = document.getElementsByTagName("script")[0];

    s.parentNode.insertBefore(bp, s);

})();

</script>
