<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="//fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<!--百度追踪-->
<meta name="baidu-site-verification" content="RnO2PmZzv2" />
<meta name="baidu-site-verification" content="T7BiPPFzd4" />
<!--360追踪-->
<meta name="360-site-verification" content="c48c953af335a6c42f6e8f513d6b8a1e" />
<!--百度统计-->
<!--gitcafe-->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?3f90170c73d1d919d9eb146c23ba78c7";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<!--github-->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?6ce46f4b58d4b7c27a0b77a627fdbdd5";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

